name: Go

on:
 - push


jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: set up go 1.18
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
        id: go

      - name: checkout
        uses: actions/checkout@v2

      - name: install golangci-lint and goveralls
        run: |
          curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $GITHUB_WORKSPACE v1.46.2
      - name: run linters
        run: $GITHUB_WORKSPACE/golangci-lint run --config .golangci.yml ./...